/* -- fade -- */
@keyframes flnmodal-fade-enter {
    from {
        opacity: 0;
    }
}
@keyframes flnmodal-fade-leave {
    to {
        opacity: 0
    }
}

.flnmodal-fade-enter-active {
    animation: flnmodal-fade-enter .4s ease-in;
}
.flnmodal-fade-leave-active {
    animation: flnmodal-fade-leave .4s ease-out;
}